body > header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  padding-left: 2vw;
  padding-right: 2vw;
}
ul {
  display: flex;
}
body > header button {
  background-color: white;
  border: 0;
  max-height: 8vh;
}
body > header img {
  max-height: 6vh;
}
body > header span {
  padding: 0.625em;
}
