.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  padding-left: 2vw;
  padding-right: 2vw;
  z-index: 999;
  background-color: white;
}
.header ul {
  display: flex;
}
.nav__button {
  background-color: white;
  border: 0;
  max-height: 8vh;
  height: 8vh;
}
.header img {
  max-height: 6vh;
}
.header span {
  padding: 0.625em;
}
.nav__menu {
  position: absolute;
  width: 100%;
  background-color: white;
  left: 0;
  top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__menu li {
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  text-align: center;
  color: green;
}
