.presentation {
  border-bottom: 0.3125rem solid rgba(255, 123, 0, 0.699);
  background-image: url(../img/bg-presentation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.presentation__titre {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 2;
}
.presentation__titre p {
  padding-top: 0.3rem;
}
.presentation__titre strong {
  color: rgb(9, 14, 1);
  font-weight: bold;
  margin-right: 0.375rem;
  font-size: 2rem;
}
.presentation__content {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.presentation__image {
  max-height: 80vh;
}
.bio {
  margin-top: 2rem;
}
