@import "reset";
@import "fonts";
@import "vars";
@import "header";
@import "main";
@import "footer";
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
strong {
  font-weight: bold;
  color: orange;
}
html {
  font-family: "RobotoCondensed-Regular";
}
.hidden {
  visibility: hidden;
  display: none;
}
